Options +FollowSymLinks
Options -Indexes

ErrorDocument 404 /index.php?url=404
ErrorDocument 403 /index.php?url=403

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteRule ^favicon.ico$ /public/img/system/favicon.ico [NC]
    RewriteRule ^([A-Za-z]+)/?$ index.php?url=$1 [NC]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/* A31536000
    ExpiresByType text/* A31536000
    ExpiresByType application/* A31536000
    ExpiresByType font/* A31536000
</IfModule>

<Files ~ "^\.(htaccess|htpasswd)$">
    deny from all
</Files>

<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|jpg|png|gif|ico|php|html|htm|ttf)$">
        <ifModule mod_filter.c>
            SetOutputFilter DEFLATE
            AddOutputFilterByType DEFLATE text/* application/*  image/* font/*
        </IfModule>
    </FilesMatch>
</IfModule>