.slideshow {
  height: calc(var(--viewWidth) + 1px);
  width: 100%;
  min-height: 550px;
  max-height: 1024px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.slide_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  filter: contrast(105%) brightness(110%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.slide_img:nth-of-type(1){
  visibility: visible;
  opacity: 1;
}

.slide_fade{
  visibility: visible;
  opacity: 1;
}

.slide_position {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% - 180px);
}

.shadow {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(transparent, rgba(0, 0, 0, .3) 75%);
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.slide_title {
  margin-top: 10px;
  font: 200 45px Dosis;
  letter-spacing: 1px;
}

.slide_title strong {
  font-weight: 600;
  letter-spacing: 5px;
}

.slide_date {
  font-weight: 200;
}

.slide_button {
  margin-top: 30px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  color: #222;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  transition: background-color .5s, border-color .5s, color .5s;
  letter-spacing: 2px;
  border: 1px solid transparent;
  text-decoration: none;
  transform: scale(0.9);
  box-sizing: border-box;
  /*opacity: 0;
	margin-left: 15vw;*/
}

.slide_button:hover {
  border-color: #fff;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
}

.slide_button::before {
  content: '';
  z-index: -1;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.slide_button:hover::before {
  height: 0;
}

.slide_button .material-icons::after {
  content: '';
  display: block;
  margin: 0 25px;
  width: 1px;
  height: 30px;
  background-color: #222;
  transition: background-color .4s;
}

.slide_button:hover .material-icons::after {
  background-color: #fff;
}

/*.content_fade{
	opacity: 1;
	margin-left: 0;
}*/

.arrow {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  width: 90px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .4) 100%);
  transition: opacity .4s;
  opacity: .6;
}

.arrow:nth-last-child(2) {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .4) 100%);
  left: 0;
}

.arrow:hover {
  opacity: 1;
}

.arrow .sprite {
  margin-top: 80px;
  background-image: url(/public/img/system/slideshow.png);
  background-position: -122px 0px;
  width: 100%;
  height: 50px;
  transition: opacity .4s;
}

.arrow:nth-last-child(2) .sprite {
  background-image: url(/public/img/system/slideshow.png);
  background-position: 22px 0px;
}

.container_dots {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.container_dots .slide_play {
  width: 13px;
  height: 13px;
  cursor: pointer;
  font-size: 25px;
  transition: opacity .4s
}

.container_dots .slide_play:nth-child(3) {
  font-size: 21px;
}

.group_dots {
  display: flex;
  margin: 0 4px;
}

.dots {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 4px;
  transition: background .4s;
}

.dots:hover, .active_dots {
  background-color: #fff;
}

.slideshow .line {
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 3px;
}

.animation_line {
  animation-name: line;
  animation-duration: 5.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes line {
  to {
    width: 100%;
  }
}

.pause {
  animation-play-state: paused;
}

.mission {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 0 calc(var(--padding) - 11px) 17px calc(var(--padding) - 11px);
  box-sizing: border-box;
  justify-content: space-between;
}

.block_mission {
  width: 33%;
  flex-grow: 1;
  margin: 22px 12.5px 5px 12.5px;
}

.block_mission .block_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  letter-spacing: 3px;
  font: 500 15px Dosis;
  text-transform: uppercase;
  color: #5b5b5b;
}

.block_mission .block_header .material-icons {
  padding: 10px;
  border-radius: 50%;
  background-color: #0093d0;
  margin-right: 12px;
  color: #fff;
  font-size: 22px;
}

.block_mission .body {
  text-align: left;
  color: #797979;
  font: 300 14px Roboto;
  line-height: 1.6;
  text-align: justify;
  padding: 10px 0;
  box-sizing: border-box;
}

@media screen and (max-width:800px) {
  .mission{
    flex-direction: column;
  }
  .block_mission {
    width: auto;
  }
}