* {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #A9A9A9;
}

::selection {
  background-color: rgba(227, 148, 122, 1);
}

::-moz-selection {
  background-color: rgba(215, 64, 19, .5);
}

:root {
  --padding: 9vw;
  --color: #035b99;
  --sizeBar: 2px;
}

body {
  font-family: Dosis;
  width: 100vw;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: Main;
  src: url(/public/fonts/Main.ttf)
}

@font-face {
  font-family: Caligrafia;
  src: url(/public/fonts/caligrafia.ttf)
}

.header {
  width: 100vw;
  height: 100px;
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, .05);
  font: 400 12.3px Dosis;
  box-sizing: border-box;
  display: flex;
  padding: 0 var(--padding);
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fff;
  position: fixed;
  transition: height .4s, background-color .4s;
}

.header a {
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 3px;
  border-bottom: 2px solid transparent;
  transition: border .3s, color .3s, padding .3s;
  cursor: pointer;
  box-sizing: border-box;
}

.header .img {
  width: 250px;
  height: 100%;
  background-image: url(/public/img/system/logo.svg);
  background-size: 95%;
  background-position: center left;
  background-repeat: no-repeat;
  transition: background-size .4s, background-image 1s;
}

.header .active {
  border-bottom: 2px solid #0099ff;
  color: #0099ff;
  cursor: default;
}

.header .default {
  color: #000;
}

.header a:hover {
  color: #0099ff;
}

.header a:first-child {
  padding: 0 10px;
  padding-left: 0;
  margin-left: 0;
  height: 100%;
  border-bottom: 2px solid transparent;
  position: absolute;
  left: var(--padding);
}

.header a:last-child {
  margin-right: 0;
}

.small {
  position: fixed;
  height: 65px;
}

.small a {
  padding: 10px 15px;
}

.small .img {
  background-size: 80%;
}

#loader {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  animation: fadeUp .4s ease;
}

.content {
  animation: fadeUp .4s linear;
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loader label {
  font: 300 16px Dosis;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #000;
}

.loader {
  border: 8px solid #cfcfcf;
  border-top: 8px solid var(--color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
  display: none;
}

@media screen and (max-width:1025px) {}
