.header {
  background-color: transparent;
  box-shadow: none;
}

.header .default {
  color: #fff;
}

.header .img {
  background-image: url(/public/img/system/logo2.svg);
}

.small {
  background-color: #fff;
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, .05);
}

.small .default {
  color: #000;
}

.small .img {
  background-image: url(/public/img/system/logo.svg);
}

.word_header {
  width: 100%;
  min-height: 470px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0 var(--padding) 70px var(--padding);
  display: flex;
  align-items: flex-end;
  position: relative;
}

.word_header .title {
  width: 75%;
  text-transform: uppercase;
  color: #fff;
  font: 700 48px Dosis;
  letter-spacing: 2px;
}

.word_body {
  width: 100%;
  position: relative;
  padding: 0 var(--padding);
  box-sizing: border-box;
  display: flex;
  margin-bottom: 25px;
}

.word_content {
  flex-grow: 1;
  position: relative;
}

.author {
  height: 40px;
  display: flex;
  align-items: center;
}

.author .img {
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -45px;
}

.author .name {
  padding-left: 95px;
  font: 400 20px Dosis;
  position: absolute;
  top: -35px;
  color: #fff;
}

.author .date {
  color: #333;
  padding-left: 95px;
  white-space: nowrap;
  font: 400 17px Dosis;
}

.word_text {
  padding-top: 25px;
  text-align: justify;
  font: 300 16px Roboto;
  line-height: 1.6;
}

u {
  box-shadow: inset 0 -0.05em #7d7d7d;
}

.bible {
  padding: 10px 0 17px 45px;
  box-sizing: border-box;
  margin-bottom: 19px;
  font-family: Lora;
  font-style: italic;
  position: relative;
  color: #2b2b2b;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
}

.bible p:first-child {
  font-size: 18px;
  position: relative;
}

.bible p:first-child::after {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 1px;
  margin-left: 15px;
  background-color: #bbb;
}

.bible .verse {
  font-size: 11px;
  vertical-align: super;
}

.bible::before {
  position: absolute;
  left: -5px;
  top: -10px;
  content: '\201C';
  font-size: 65px;
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-family: Georgia;
}

.word_text p {
  margin-bottom: 10px;
}

.word_text p:last-child {
  margin-bottom: 0;
}

.word_text h4, .share span {
  margin: 25px 0 10px 0;
  font: 500 16px Roboto;
  color: #363636;
}

.word_content .line {
  width: 100%;
  height: 1px;
  margin: 25px 0;
  background-color: #bbb;
}

.share {
  display: flex;
  align-items: center;
  /* position: absolute;
  right: 0; */
}

.share span {
  margin: 0 7px 0 0;
}

.socicon {
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  padding: 11px;
  border-radius: 50%;
  margin: 0 3px;
  font-size: 14px;
  cursor: pointer;
  transition: .4s;
  box-sizing: border-box;
}

.socicon:hover {
  border-color: transparent;
  color: #fff;
}

.socicon-facebook:hover {
  background-color: #4267b2;
}

.socicon-twitter:hover {
  background-color: #55acee;
}

.socicon-whatsapp:hover {
  background-color: #45c455;
}

.share .material-icons {
  font-size: 18px;
  padding: 9px;
}

.share .material-icons:hover {
  background-color: #a66262;
}

.content_side {
  min-width: 23%;
  box-sizing: border-box;
  margin: 43px 0 0 30px;
  /* border: 1px solid #e1e1e1;
  border-radius: 2px; */
}

.content_side .title {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 25px 0 8px 0;
  position: relative;
}

.content_side .title::before, .content_side .title::after {
  content: '';
  margin: 4px 0 20px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e7e7e7;
  bottom: -20px;
  left: 0;
}

.content_side .title::after {
  width: 60%;
  background-color: #0099ff;
}

.button {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  color: #4d545c;
  padding: 25px 25px;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  transition: background-color .5s, border-color .5s, color .5s;
  letter-spacing: 1px;
  border: 1px solid #4d545c;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.button:hover {
  color: #fff;
}

.button::before {
  content: '';
  z-index: -1;
  background-color: #4d545c;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.button:hover::before {
  width: 100%;
}

.button .material-icons {
  font-size: 60px;
  min-width: 40%;
  height: 100%;
}

.button .vertical span {
  white-space: nowrap;
  font-size: 12px;
}

.button .vertical span:nth-child(1) {
  font: 700 19px Dosis;
  margin-bottom: 6px;
}

.button .vertical {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.button:nth-child(-n + 3) {
  border-bottom-width: 0;
}

@media screen and (max-width:1100px) {
  .word_body {
    flex-direction: column;
  }
  .content_side {
    margin: 0;
  }
}