.container {
  background-color: #edf3f7;
  width: 100%;
  height: var(--viewWidth);
  flex-direction: column;
  color: #4d545c;
  box-sizing: border-box;
  padding-top: 100px;
}

.title {
  font: 600 10vw Dosis;
  line-height: 1.1;
  white-space: nowrap;
}

.subtitle {
  font: 300 2vw Dosis;
  text-align: center;
  line-height: 1.4;
  font-style: italic;
}